body {
    background-image: url('../public/pokedexBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

.title{
    background-color: azure;
}